{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>Ask someone</title>

    <!-- Bootstrap core CSS -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{% static "css/my.css" %}" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    
  {% include "include/navbar.html" %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <div class ="row">
      <div class = "col-8">
        {% block data %}
        

        {% endblock data %}

        <!--- Place for page navigation -->


      </div>
        

      <div class = "col-4 popular-tags">
        <div class="row">
          <h3>
            Popular tags
          </h3>
        </div>
        <div class="row tags">
          <p>
            <span><a href="#"style="color: red; font-size: 24px; margin-left: 6px; text-decoration: none;">news</a></span>
            <span><a href="#" style="color: blue; font-size: 30px; margin-left: 8px; text-decoration: none;">Python</a></span>
            <span><a href="#" style="color: black; font-size: 34px; margin-left: 8px; text-decoration: none;">TechnoPark</a></span>
          </p>
          <p>
            <span><a href="#" style="color: red; font-size: 30px; margin-left: 8px; text-decoration: none;">MySQL</a></span>
            <span><a href="#" style="color: green; font-size: 28px; margin-left: 8px; text-decoration: none;">django</a></span>
          </p>
          <p>
            <span><a href="#" style="color: black; font-size: 34px; margin-left: 6px; text-decoration: none;">Mail.ru</a></span>
            <span><a href="#" style="color: red; font-size: 28px; margin-left: 8px; text-decoration: none;">Chromium</a></span>
            <span><a href="#" style="color: orange; font-size: 24px; margin-left: 8px; text-decoration: none;">FireFox</a></span>
          </p>
        </div>
        <div class="row">
          <h3>
            Best Members 
          </h3>
        </div>
        <div class="row best-members">
          <a href="#">Ted Mosby</a>
          <a href="#">Barney Stinson</a>
          <a href="#">Robin Scherbatsky</a>
          <a href="#">Marshall Eriksen</a>
          <a href="#">Lily Aldrin</a>
          <a href="#">Dr.House</a>
        </div>
      </div>
    </div>
    {% block paginator %}
        

    {% endblock paginator %}
    
  </div>
</main>

<footer class="footer mt-auto py-5 bg-light">
  <div class="container">
    <span class="text-muted">Copyright Ask Someone.</span>
  </div>
</footer>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

      
  </body>
</html>
