<header>
    <!-- Fixed navbar -->
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark px-3">
     <div class="container-fluid">
       <a class="navbar-brand col-2" href={% url 'index' %}>Ask someone</a>
       <form class="d-flex col-4 align-items-center">
         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
       </form>
        {% if user.is_authenticated %}
        {% include "./logined.html" %}
        {% else %}
        {% include "./unlogined.html" %}
        {% endif %}
     </div>
   </nav>
  </header>