{% extends "include/base.html" %}
{% load static %}

{% block data %}
<div class="row questions-type">
  <p>
    <span style="margin-top: 50px; font-size: 40px;">New Question</span>
  </p>          
</div>
<div class="d-grid gap-4">
  <div class="row">
    <div class="col-2">
      Title
    </div>
    <div class="col-10">
      <input type="title" class="form-control" id="exampleFormControlInput1" placeholder="How to build a moon?">   
    </div>  
  </div>

  <div class="row">
    <div class="col-2">
      <label for="exampleFormControlTextarea1" class="form-label">Text</label>
    </div>
    <div class="col-10">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Really how?"></textarea>   
    </div>  
  </div>

  <div class="row">
    <div class="col-2">
      <label for="exampleFormControlInput2" class="form-label">Tags</label>
    </div>
    <div class="col-10">
      <input type="tags" class="form-control" id="exampleFormControlInput2" placeholder="moon, space">
    </div>  
  </div>
  
  <div class="row" style="margin-top: 20px;">
    <div class="col-3">
        <button type="button" class="btn btn-primary me-2">Ask!</button>
    </div>
  </div>
</div>
{% endblock data %}