{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block data %}
    <div class ="row">


      <form novalidate method="post" class="form mt-5">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        {% endbuttons %}
      </form>

      
      <div class="col-4"></div>

        <!--- Place for page navigation -->

    </div>
    <div class="row" style="margin-top: 20px;"> 
    </div>   

{% endblock data %}
