{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block data %}
<div class="row" style="margin-top: 50px;"></div>
<h4 class="mb-3">Registration</h4>
<div class="col-md-7 col-lg-8">


  <form novalidate action="/singup/" method="post" class="form mt-5">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    {% endbuttons %}
  </form>

  <!-- <form class="needs-validation" novalidate>
    <div class="row g-3">
      
      <div class="col-12">
        <label for="username" class="form-label">Login</label>
        <input type="text" class="form-control" id="username" placeholder="Login" required>
      </div>

      <div class="col-12">
        <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
        <input type="email" class="form-control" id="email" placeholder="you@example.com">
      </div>

      <div class="col-12">
        <label for="NickName" class="form-label">NickName</label>
        <input type="text" class="form-control" id="username" placeholder="NickName" required>
      </div>

      <div class="col-12">
        <label for="floatingPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      </div>

      <div class="col-12">
        <label for="floatingPassword" class="form-label">Repeat password</label>
        <input type="password" class="form-control" id="floatingPassword" placeholder="Repeat password">
      </div>

      <div class="col-12">
        <label for="avatar" class="form-label">Upload avatar</label>
        <input type="file" class="form-control" id="inputGroupFile" placeholder="Upload avatar" required>
      </div>
    </div>

    <hr class="my-4">
    <button class="w-100 btn btn-primary btn-lg" onclick="window.location.href={% url 'index' %}" type="submit">Register!</button>
  </form> -->
</div>

{% endblock data %}